.class-card {
  width: 20rem;
  height: 26rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0 1rem;
  margin-bottom: 2rem;
  position: relative;
  text-decoration: none;
  color: black;
  border-radius: 10%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.class-image {
  height: 20rem;
  width: 20rem;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.card-body {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.class-book-btn {
  padding: 1rem;
  background-color: var(--teal);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.class-book-btn:hover {
  background-color: var(--teal);
  color: white;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06); */
  transform: scale(1.05);
}

.logo-container {
  position: absolute;
  right: 0;
  transform: translate(-40%);
}

.logo-container:hover {
  cursor: pointer;
}

.fbook-logo:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1700px) {
  .class-card {
    margin: 0 1.5rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 799px) {
  .class-card {
    margin: 1 1.5rem;
    width: 18rem;
  }

  .class-image {
    height: 20rem;
    width: 18rem;
  }
}

@media screen and (max-width: 735px) {
  .class-card {
    margin: 1rem;
    width: 16rem;
  }

  .class-image {
    height: 20rem;
    width: 16rem;
  }
}

@media screen and (max-width: 623px) {
  .class-card {
    margin: 1rem;
    width: 15rem;
  }

  .class-image {
    height: 20rem;
    width: 15rem;
  }
}

@media screen and (max-width: 480px) {
  .class-card {
    margin: 1 1.5rem;
    width: 18rem;
  }

  .class-image {
    height: 20rem;
    width: 18rem;
  }
}
