.class-card {
  width: 20rem;
  height: 26rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin: auto;
  position: relative;
  text-decoration: none;
  color: black;
  border-radius: 10%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.class-image {
  height: 20rem;
  border-radius: 10%;
}

.card-body {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.class-book-btn {
  padding: 1rem;
  background-color: var(--teal);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.class-book-btn:hover {
  background-color: var(--teal);
  color: white;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06); */
  transform: scale(1.05);
}
