.classes-container {
  margin: 0rem auto;
  box-sizing: border-box;
  width: 100%;
}

.venue-cards-container {
  margin: 3rem;
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.class-cards-container {
  margin: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.timetable {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.venue-card {
  width: 25vw;
  height: 15rem;
  padding: 2rem;
  background-color: var(--teal);
  margin: 0 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.venue-card-small {
  border: none;
  min-width: 22vw;
  max-width: 25vw;
  height: 4rem;
  padding: 0.5rem;
  background-color: var(--teal);
  margin: 0 1rem 1rem 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.venue-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.venue-name-small {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.venue-card:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}

.venue-card-small:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.view-btn {
  background-color: transparent;
  border: 5px solid white;
  color: white;
  width: 50%;
  height: 3rem;
}

.view-btn:hover {
  transform: scale(1.01);
  background-color: white;
  color: var(--teal);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}

.venue-buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
}

.displayed {
  display: flex;
}

.hidden {
  display: none;
}

.modal-image {
  width: 100%;
}

@media screen and (min-width: 1700px) {
  .class-cards-container {
    margin: 3rem 15rem;
  }
}

@media screen and (max-width: 1200px) {
  .venue-card {
    width: 25vw;
    margin: 0 1rem;
    padding: 1.2rem;
  }

  .venue-name {
    font-size: 1.3rem;
  }

  .view-btn {
    width: 70%;
    height: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .venue-cards-container {
    margin: 1rem;
    margin-top: 4rem;
  }

  .class-cards-container {
    margin: 1.5rem;
  }

  .venue-card {
    width: 27vw;
    margin: 0 0.5rem;
  }

  .view-btn {
    width: 90%;
    height: 3.5rem;
  }
}

@media screen and (max-width: 600px) {
  .timetable {
    margin-top: 2rem;
  }

  .timetable > .venue-card-small {
    min-width: 80vw;
    max-width: 80vw;
    background-color: var(--red);
  }

  .venue-card-small {
    min-width: 28vw;
    max-width: 28vw;
    height: 4rem;
    padding: 0rem;
    margin: 0 0.3rem 1rem 0.3rem;
  }

  .venue-name-small {
    font-size: 1rem;
  }

  .venue-cards-container {
    margin: 1rem;
  }

  .venue-card {
    width: 90vw;
    height: 5rem;
    margin: 0.5rem 0;
  }

  .view-btn {
    width: 50%;
    height: 3.5rem;
  }
}

@media screen and (max-width: 340px) {
  .venue-card-small {
    min-width: 29vw;
    max-width: 29vw;
  }

  .venue-name-small {
    font-size: 0.8rem;
  }
}
