.hero {
  height: 80vh;
  width: 100%;
  background: url(../../images/latinmotion-banner-red.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 7rem;
}

@media screen and (max-width: 768px) {
  .hero {
    height: 50vh;
    background: url(../../images/classImages/saturday-open.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 7rem;
  }
}
