.navigation-bar {
  padding: 1% 2%;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 10;
  background-color: white;
}

.navigation-bar.colourChange {
  background-color: #f8f9fa;
  box-shadow: 0px 15px 10px -15px rgb(134, 134, 134);
}

.navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
}

.dropdown-nav {
  justify-content: flex-end;
}

.logo {
  max-height: 5rem;
}

.nav-links {
  display: flex;
}

.my-link {
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.55);
  margin: 0 1rem;
}

.my-link:hover {
  border-bottom: 2px solid;
  color: var(--red) !important;
  cursor: pointer;
}

.my-link:focus {
  border-bottom: 2px solid;
  color: var(--red) !important;
}

.active {
  border-bottom: 2px solid;
  color: var(--red) !important;
}
