@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: "Roboto Mono", monospace;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --red: #c10000;
  --teal: #00989d;
  --pink: #ff65c3;
  --dark-red: #7c1a0f;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
nav {
  margin: 0;
  padding: 0;
}
